torch  # pip install torch==2.8.0 --index-url https://download.pytorch.org/whl/cu126
transformers==4.57.1
accelerate
sentencepiece
datasets
bitsandbytes
llmexport
MNN
psutil
autoawq
optimum
# pip install -v gptqmodel==4.0.0 --no-build-isolation  --no-deps
